<form name="InvePreForm" v-submit="doPre()" novalidate style="padding-bottom: 10vw;">
	<div class="yh_cont_2 bor_bo">
		<ul class="top_1">
			<li><span v-click="goback()"><img src="images/zuo_1.png?versionStr=bZQhhcdSnG1525942067665"><em>返回</em></span><em v-click="$close()">关闭</em></li>
			<li>投资</li>
			<li></li>
		</ul>
	</div>
	<div class="cf_cont_1 mart yx_back">
		<ul>
			<li class="cf_cont_1_cp">
				<div class="cf_cont_1_qh mar4">
					<h1 class="fl black" style="width: 50%;float: left; text-align: left;font-weight: bold;">{{currentProduct.ProjectName}}</h1>
					<div class="cf_cont_1_logo_1 fr"  style="width: 50%;"><img src="images/nj_logo.png?versionStr=bZQhhcdSnG1525942067665"></div>
				</div>
				<div class="cf_cont_1_yq">
					<h1 class="grey">预期年化收益率</h1>
					<h2 class="red">{{currentProduct.ExpectIncome*100|number:2}}<em class="fize_1_3">%</em></h2>
				</div>
				<div class="cf_cont_1_yq_1">
					<h1 class="grey">期限</h1>
					<h2 class="red">{{currentProduct.InvestLimit}}<em class="fize_1_3">天</em></h2>
				</div>
				<div class="cf_cont_1_yq_2">
					<ul>
						<!--<li class="fl">一元起投</li>-->
						<!--<li class="fr">票据直融</li>-->
						<li class="fl">{{InvePayWay[currentProduct.PayWay]}}</li>
					</ul>
				</div>
				<div style="clear: both"></div>
				<div class="yx_spxq grey1" v-click="viewDetail()">
					查看产品详情
				</div>
			</li>
		</ul>
	</div>
	<div class="cf_cont_1 mart">
		<div class="yx_cont yx_back1">
			<h1 class="col52">募集进度</h1>
			<div class="yx_mjjd">
				<div style="width: {{100-(currentProduct.RemainAmt/currentProduct.ProjectScale*100)}}%;"></div>
			</div>
			<h2 class="fize_0_8 grey1">剩{{currentProduct.RemainAmt|number:2}}元/{{currentProduct.ProjectScale|numberFilter:1}}元</h2>
		</div>
	</div>
	<div class="cf_cont_1 mart">
		<div class="yx_cont yx_back2">
			<h1 class="col52">项目进度</h1>
			<div class="yx_step">
				<ul>
					<li class="texfl yx_step_on">
						<img v-src="{{productSchedule[0]}}">
						<h1 class="fize_0_8">项目募集日</h1>
						<h2 class="fize_0_8">{{currentProduct.BeginDate}}</h2>
					</li>
					<li>
						<img v-src="{{productSchedule[1]}}">
						<h1 class="fize_0_8">开始计息日</h1>
						<h2 class="fize_0_8">{{currentProduct.LatestInterestDate}}</h2>
					</li>
					<li class="texfr">
						<img v-src="{{productSchedule[2]}}">
						<h1 class="fize_0_8">投资到期日</h1>
						<h2 class="fize_0_8">{{currentProduct.EndDate}}</h2>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="cf_cont_1 mart">
		<div class="cf_cont_yhmc_yx_1 ">
			<ul>
				<li>
					<h3 class="fl grey1 fize_0_8">起投金额(元)</h3>
					<div class="kh_zdyx fl">
						<h2 class="col52 fize_0_8">{{currentProduct.MinInvestAmt|number:2}}</h2>
					</div>
				</li>
				<li>
					<h3 class="fl grey1 fize_0_8">投资递增金额(元)</h3>
					<div class="kh_zdx_yx fl">
						<h2 class="col52 fize_0_8">{{currentProduct.EachAmt|number:2}}</h2>
					</div>
				</li>
				<li>
					<h3 class="fl grey1 fize_0_8">累计最大投资金额(元)</h3>
					<div class="kh_zdyx fl">
						<h2 class="col52 fize_0_8">{{currentProduct.MaxInvestAmt|number:2}}</h2>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="cf_cont_z mart">
		<div class="cf_cont_yhmc_t">
			<ul>
				<li>
					<h3 class="fl">投资金额(元)</h3>
					<div class="kh_zd_t fl">
						<input type="text" class="kh_text" ui-keypad-input2="numpad" title="投资金额" name="TrsAmount" v-model="formData.TrsAmount" readonly placeholder="请输入投资金额" />
					</div>
				</li>
			</ul>
		</div>
		<div class="cf_cont_yhmc_t_t">
			<ul>
				<li v-show="BalanceInfo.DepositAvailBal">
					<h1 class="fl fize_0_8 col52">可用余额(元)</h1>
					<h2 class="fl fize_0_8 red">{{BalanceInfo.DepositAvailBal|number:2}}</h2>
				</li>
				<li>
					<h1 class="fl fize_0_8 col52">预期收益(元)</h1>
					<h2 class="fl fize_0_8 red">{{ProspectiveEarnings|number:2}}</h2>
				</li>
			</ul>
		</div>
	</div>
	<div class="kh_yd mart">
		<input type="checkbox" name="AgreeFlag" v-model="AgreeFlag" class="kh_check fl">
		<h1 class="fl grey1" style="width: 90%;">我已阅读并同意<em class="protocol-text" v-click="viewProtocol1()">《投融资平台服务协议（投资人版）》</em>、<em class="protocol-text" v-click="viewProtocol2()">《晋商银行直销银行“安鑫富”投融资协议》</em></h1>
	</div>
	<input type="submit" value="提交" class="kh_btn mart3">
</form>
