<form name="ForgetPsdForm" v-submit="submitPre()" novalidate v-init="init()">
    <div class="kh_body">
        <div class="di-ru">
            <div class="yh_cont_2 bor_bo">
                <ul class="top_1">
                    <li><span v-click="goback()"><img src="images/zuo_1.png?versionStr=bZQhhcdSnG1525942067665"><em>返回</em></span><em
                            v-click="$close()">关闭</em></li>
                    <li>忘记密码</li>
                    <li></li>
                </ul>
            </div>
            <div class="cf_cont_1 mart" style="background: none;">
                <div class="cf_cont_yhmc_1">
                    <ul>
                        <li>
                            <h3 class="fl h3">姓名</h3>
                            <div class="kh_zd fl kh_zd1">
                                <input clear-input type="text" class="kh_text" name="UserName" title="姓名" autocomplete="off"
                                       v-pattern="/^[\u4e00-\ufa5aa-zA-Z\d\s]{0,40}$/" maxlength="40" v-model="UserName"
                                       placeholder="请输入姓名" required pattern-message="姓名输入有误" required-message="请输入姓名">
                            </div>
                        </li>
                        <li>
                            <h3 class="fl h3">手机号码</h3>
                            <div class="kh_zd fl kh_zd1">
                                <input clear-input type="tel" class="kh_text" name="MobilePhone" title="手机号" v-model="MobilePhone" autocomplete="off"
                                       placeholder="请输入预留手机号码" required maxlength="11" v-pattern="/^1\d{10}$/"
                                       pattern-message="预留手机号码输入有误" required-message="请输入预留手机号码">
                            </div>
                        </li>
                        <li style="border-bottom: none;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
                            <h3 class="fl h3">身份证号</h3>
                            <div class="kh_zd fl kh_zd1">
                                <input clear-input type="text" class="kh_text" name="IDNumber" title="身份证号" v-model="IDNumber" autocomplete="off"
                                       placeholder="请输入18位身份证号码" v-pattern="/^[1-9](\d{16})[0-9xX]$/"
                                       pattern-message="身份证号码输入有误" maxlength="18" required required-message="请输入身份证号">
                            </div>
                        </li>
                        <li style="margin-top: 14px;border-top-left-radius: 5px;border-top-right-radius: 5px;">
                            <h3 class="fl h3">新的登录密码</h3>
                            <div class="kh_zd fl kh_zd1" style="height: 100%;">
                                <div id="newPasswordWidget"
                                     v-password-widget="/portal/Fms.GetPasswordServletString.do"
                                     modulus-hex="9c4ebeacd2f30283df44853e59b1c825f1a95760c44f48db786560806431faccc8b54e19bc5f37ba54ffc2b138ba336b545e51a51e1b5b297e84e4149e4440f845f6d2ac44829aa301b742a30e28efa619bcd7d148a5ec819808ae3974b5fd7672a2df0fce835031f45b897cb82887de57a5247f1989d24ac79cbb1df678918b"
                                     class="kh_text"
                                     name="Password" minlength="8" maxlength="20">
                                </div>
                            </div>
                        </li>
                        <li style="border-bottom: none;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
                            <h3 class="fl h3">确认新登录密码</h3>
                            <div class="kh_zd fl kh_zd1" style="height: 100%;">
                                <div id="ConfirmPasswordWidget"
                                     v-password-widget="/portal/Fms.GetPasswordServletString.do"
                                     modulus-hex="9c4ebeacd2f30283df44853e59b1c825f1a95760c44f48db786560806431faccc8b54e19bc5f37ba54ffc2b138ba336b545e51a51e1b5b297e84e4149e4440f845f6d2ac44829aa301b742a30e28efa619bcd7d148a5ec819808ae3974b5fd7672a2df0fce835031f45b897cb82887de57a5247f1989d24ac79cbb1df678918b"
                                     class="kh_text"
                                     name="Password" minlength="8" maxlength="20">
                                </div>
                            </div>
                        </li>
                        <div class="cf_cont_psd hui">
			                <p style="color: #777777;">登录密码由8-20位数字、字母组成，区分大小写</p>
			            </div>
                    </ul>
                </div>
            </div>
            <input type="submit" value="下一步" class="kh_btn mart3">
            <div class="ryyw">如有疑问，请拨打晋商银行客服 <em><a href="tel:95105588">95105588</a></em></div>
        </div>
    </div>
</form>
