<form name="OpenInfoForm" v-submit="submitOpenInfo()" novalidate>
	<div class="kh_body">
		<div class="di-ru">
			<div class="yh_cont_2 bor_bo">
				<ul class="top_1">
					<li><span v-click="goback()"><img src="images/zuo_1.png?versionStr=bZQhhcdSnG1525942067665"><em>返回</em></span><em v-click="$close()">关闭</em></li>
					<li>开户</li>
					<li></li>
				</ul>
			</div>
			<div class="test mart">
				<img src="images/test1.png?versionStr=bZQhhcdSnG1525942067665">
				<ul>
					<li class="step1">①开户信息验证</li>
					<li class="step2">②绑定银行卡</li>
					<li class="step3">③设置密码</li>
				</ul>
			</div>
			<div class="cf_cont_1 mart">
				<div class="cf_cont_yhmc_1">
					<ul>
						<li>
							<h3 class="fl h4">姓名</h3>
							<div class="kh_zd fl kh_zd2">
								<input clear-input type="text" class="kh_text" name="UserName" title="姓名" v-model="formData.UserName" v-pattern="/^[\u4e00-\ufa5aa-zA-Z\d\s]{0,40}$/" maxlength="40" placeholder="请输入姓名" required pattern-message="姓名输入有误" required-message="请输入姓名" autocomplete="off" />
							</div>
						</li>
						<li>
							<h3 class="fl h4">身份证号</h3>
							<div class="kh_zd fl kh_zd2">
								<input clear-input type="text" class="kh_text" name="IDNumber" v-model="formData.IDNumber" title="身份证号" placeholder="请输入您的18位身份证号" v-pattern="/^[1-9](\d{16})[0-9xX]$/" pattern-message="身份证号输入有误" maxlength="18" required required-message="请输入您的18位身份证号" autocomplete="off" />
							</div>
						</li>
						<li>
							<h3 class="fl h4">职业</h3>
							<div class="kh_zd fl kh_zd2">
								<select class="fl cf_cont_yhkh" name="Occupation" v-model="formData.Occupation" v-options="key as value for (key,value) in $msg('Occupation')" style="margin-top: calc(12vw / 2 - 1.0rem / 2);">
								</select>
							</div>
						</li>
						<li>
							<h3 class="fl h4">学历</h3>
							<div class="kh_zd fl kh_zd2">
								<select class="fl cf_cont_yhkh" name="Education" v-model="formData.Education" v-options="key as value for (key,value) in $msg('Education')" style="margin-top: calc(12vw / 2 - 1.0rem / 2);">
								</select>
							</div>
						</li>
						<li>
							<h3 class="fl h4">手机号码</h3>
							<div class="kh_zd fl kh_zd2">
								<input clear-input type="tel" class="kh_text" name="MobilePhone" v-model="formData.MobilePhone" placeholder="绑定银行卡预留手机号" required maxlength="11" v-pattern="/^1\d{10}$/" pattern-message="预留手机号码输入有误" required-message="请输入预留手机号码" title="手机号" autocomplete="off">
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="cf_cont_1 mart">
				<div class="cf_cont_yhmc padd_2" v-init="authInitFn()">
					<h1 class=" ">实名认证</h1>
					<div class="fl sfz" style="position: relative;">
						<img src="images/sfzb.png?versionStr=bZQhhcdSnG1525942067665" alt="" id="positiveImgBox" style="height: 98px;" />
						<input class="identityclass" accept="image/*"  id="positiveImg"  name="positiveImg" type="file" title="身份证正面" capture="camera" required required-message="请上传身份证正面照"/>
						<h2>身份证正面照</h2>
					</div>
					<div class="fr sfz_1" style="position: relative;">
						<img src="images/sfzb.png?versionStr=bZQhhcdSnG1525942067665" alt="" id="oppositeImgBox" style="height: 98px;"/>
						<input class="identityclass" accept="image/*"  id="oppositeImg" name="oppositeImg" type="file" title="身份证反面" capture="camera" required required-message="请上传身份证反面照"/>
						<h2>身份证反面照</h2>
					</div>
				</div>
			</div>
			<input type="submit" value="下一步" class="kh_btn mart3">
			<div class="ryyw ryyw-more" style="position: absolute;bottom: -40px;padding: 0;">如有疑问，请拨打晋商银行客服 <em><a href="tel:95105588">95105588</a></em></div>
		</div>
	</div>
</form>